.dash-text{

    height: 70%;
    width: 100%;
    border-radius: 0px;
    background: linear-gradient(110.33deg, #465571 0%, #282828 4%, #141414 60.58%, #465571 113.12%);
    font-family: 'Jost';font-size: 22px;
    font-weight: 1000;
    line-height: 105px;
    letter-spacing: 0.25px;
    text-align: left;
    color: #FFFFFF;

}

.Headings{
    font-family: 'Jost';
    font-size: 30px;
    font-weight: 1000;
    text-align: center;
    color:#cdddfc;
}

body{
    background: linear-gradient(110.33deg, #465571 0%, #282828 4%, #141414 60.58%, #465571 113.12%);
}

.form-control{
    border-color: #adc7f8;
}

.form-label{
    font-weight:1000;
    font-size: 15px;
}

.btn{
    background:#adc7f8;
    border-color: #adc7f8;
    color: #000;
    align-self: center;
    font-weight:1000;
    margin-left: 40%;
    font-family: 'Jost';font-size: 22px;
}

h5{
    font-weight:1000;
}

.navbar{
    background-color: #141414;
}
.link-secondary{
    margin-right: 40px;
    font-family: 'Jost';font-size: 20px;
    color: #cdddfc;
}
#search{
    margin-top: 8px;
    background-color: #141414bd;
    border-radius: 40px;
}
.navbar-brand{
    color: #cdddfc;
    font-family: Bungee Inline;
    font-size: 30px;
}
.col-sm-6{
    margin-left: 25px;
}
.col-sm-5{
    margin-top: 25px;
}

#file{
    margin-left: 40px;
    border: none;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    background-color: #cdddfc;
}

.form-custom{

    margin-left: 30%;
    margin-bottom: 100px;
    padding: 2%;
    align-items: center;
    font-family: 'Jost';font-size: 22px;
    background-color: #FFFFFF;
    width: 40%;
    border-radius: 7px;
}

.cards{
    height: 100%;
    width: 100%;
    border-radius: 0px;
    background: #FFFFFF;

}

.card-header{
    font-family: Bungee Inline;
    font-size: 80px;
}
.col{
    margin-left: 100px;
}

.text-white{
    color: #cdddfc;
}
.footer{
    background: linear-gradient(110.33deg, #465571 0%, #282828 4%, #141414 60.58%, #465571 113.12%);
}
.col-lg-3{
    margin-top: 5%;
}
